.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
  padding: 15px 40px;
}

.navbar h2 {
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.title{
    text-align:center;
    margin:20px;
}

.product-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}

.card{
    width:220px;
    background:white;
    border-radius:10px;
    padding:15px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    text-align:center;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
}

.card h3{
    margin:10px 0;
}

.card button{
    margin-top:10px;
    padding:10px;
    width:100%;
    border:none;
    background:royalblue;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.filter-btn{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:30px;
}

.filter-btn button{
    padding:10px 20px;
    border:none;
    background:royalblue;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.filter-btn button:hover{
    background:rgb(42,82,202);
}

.filter-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.filter-btn button {
  padding: 10px 20px;
  border: none;
  background: royalblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.filter-btn button:hover {
  background: rgb(42, 82, 202);
}

/* .details{
    width:80%;
    margin:50px auto;
    display:flex;
    gap:50px;
    align-items:center;
} */

.details{
    width:80%;
    margin:50px auto;
    display:flex;
    gap:50px;
    align-items:center;
    position: relative;
}

.details img{
    width:350px;
    border-radius:10px;
}

.details h1{
    margin-bottom:15px;
}

.details h2{
    color:royalblue;
    margin-bottom:10px;
}

.details h3{
    margin-bottom:10px;
}

.details p{
    margin-bottom:20px;
}

/* .details button{
    padding:12px 25px;
    border:none;
    background:royalblue;
    color:white;
    cursor:pointer;
    border-radius:5px;
    font-size:17px;
} */

.details button{
    padding:12px 25px;
    border:none;
    background:royalblue;
    color:white;
    cursor:pointer;
    border-radius:5px;
    font-size:17px;
    position: relative;
    z-index: 1000;
}

.form-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}

.form{
    width:350px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.form h2{
    text-align:center;
    margin-bottom:20px;
}

.form input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid gray;
    border-radius:5px;
}

.form button{
    width:100%;
    padding:10px;
    background:royalblue;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}